DB_HOST=db
MYSQL_DATABASE=cbc
MYSQL_ROOT_PASSWORD=CHANGE_ME_STRONG_PASSWORD
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=CHANGE_ME_STRONG_PASSWORD
EXECUTION_CONTAINER_PATH=/app/temp
# Set this to the absolute path of the temp/ folder on your HOST machine (use forward slashes on Windows too)
# Example on Linux/Mac: EXECUTION_HOST_PATH=/home/youruser/projects/cbc/temp
# Example on Windows:   EXECUTION_HOST_PATH=C:/Users/YourName/projects/cbc/temp
EXECUTION_HOST_PATH=/path/to/your/cbc/temp
